.dashboard-container {
  background-color: #edf7ff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.middle-column{
  position: fixed;
  /* left: 40; */
  width: 50%;
  float:  center;
}
.addpatient-btn{
  background-color: #458FF6;
  width: 10vw;
  height: 10vh;
}
.dashboard-search {
  width: 40%;
  
}
