

.logo {
    height: 6vh;
    width: 10vw;
    padding: 5px;
    margin: 30px 10px 0 0;
    position: absolute;
    left: 80%;
}

@media only screen and (max-width: 600px) {
    .logo{
        display: block;
        width: 800%;

    }
}