.main{
background-color: #edf7ff;
position: absolute;
}

body{
   margin: 0;
   padding: 0;
    font-family: 'Mulish';
  position: absolute;
}

@media only screen and (min-width: 768px) {
    body{
        display: flex;
    }
}

h2{
color: #212121;
}

.intro{
    float: left;
    clear: left;
     margin-left: 75px;
}

.landing-image{
    padding-left: 40%;
   padding-top: 70px;
   }

.heading{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 0;
}

.motto{
    margin-top: 1;
    color: #7A7A7A;
}

.get-started-link{
    background-color: #458FF6;
    padding: 15px 60px;
    text-align: center;
    color: #ffff;
    font-family: inherit;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0;
}

.start-button{
    padding-top: 40px;
}

.welcome{
    padding: 80px;
}

.about-section{
    text-align: center;
    padding-top: 100px;
}

.about-content {
color: #7A7A7A
}

.how-it-works{
    padding-top: 50px;
    margin-left: 50px;
}

.product-heading,
.h-i-t-heading {
    margin-left: 85px;
    font-size: 30px;
    color: #212121;
}

.content-wrapper{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    height: 354px;
display: grid;
grid-template-columns: repeat(3, auto);
}

.content-container {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 70px;
    flex-direction: column;
    width: 200px;
    height: 35vh;
    background-color: #ffff;
    border-radius: 5px;
    align-items: left;
    /* margin: 70px; */
    display: flex;
}

.content-heading {
    font-size: 20px;
   font-weight: bolder;
    color: #212121;
}

.content-body{
    /* padding: 0; */
    margin-top: 0;
    color: #4D4D4D;
}


.signup-link{
    text-decoration: none;
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 60px;
    text-align: center;
}

.product{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-image: url("https://live.staticflickr.com/65535/51452871934_4ee020aaaf_b.jpg"); */
}

.who-can{
text-align: center;
    font-size: 30px;
color: #212121;
margin-top: 100px;
}

.healthcare-providers{
    float:left;
    clear: left;
}

.healthcare-container{
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 55%;
}

.users-section{
    margin: 80px;
}

.medical {
    float: right;
    clear: right;
    padding-top: 50px;
}

.medical-container{
    float: left;
    clear: left;
    padding-top: 90px;
}

.blob{
    width: 100%;
    background-image: url("../components/blob.svg");
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.product-image{
    margin: 0 100px;
    width: 80%;
}

.who-can-head{
    font-size: 21px;
}

.who-can-desc{
    color: #4D4D4D;
    padding-top: 10px;
}




