 
.top-row
{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 2em;
}

.top-row-container
{
    width: 20vw;
    height: 30vh;
    margin: 8px auto 2px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

#doctor-info
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#doctor-name
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.circle
{
    width: 10px;
    height: 10px;
    background-color: #439F6E;
    border-radius: 50%;
}

#hosp-name
{
    color: #7A7A7A;
    font-size: 0.8em;
}

.bottom-row
{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 1.5em;
    margin-right: 2em;
    margin-left: 2em;
}




