.color-side {
  /* width: 30vw; */
  /* min-height: 100%; */
  background-color: #A5D4FD;
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  bottom: 0;
  height: auto;
  /* box-sizing: border-box; */
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .color-side {
    display: none;
  }
}
